/* -----------------------
Base styles
------------------------*/

	#container{
	background-size: 100%;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	padding:80px 250px 80px 250px;
	font-family: Helvetica;
	}
	
	#header 
	{
	background-color:#FFF0FF;
	height: auto;
	padding:0.5em;
	border:0px none;
	width:100%;
	min-width:1000px;
	left:0px;
	top:0px;
	margin-left:auto;
	min-height:80px;	
	}
	
	#header h1{
	margin-left:90px;
	margin-top:-120px;
	font-style: italic;
	font-size: 50px;
	color:#00003D;
	}
	
	#footer 
	{
	background-color:#FFF0FF;
	height: auto;
	padding:0.5em;
	border:0px none;
	width:100%;
	min-width:1000px;
	left:0px;
	top:0px;
	margin-left:auto;
	height:auto;
	}
	
	#footer p{
	text-align:right;
	margin-right:20px;
	margin-bottom:1px;
	}


#menu {
    float: right;
    width: auto;
}
#menu li
{
    text-align: left;
    display: inline-block;
    width:55%;
}

	ul{
	    list-style: none;
	    text-align:left;
	}
	
	ul li{ 
	    text-align:left;  
	}
	

h1, h2, h3, h4, h5, h6 {
    padding-top: 50px;
    margin-top: -60px;
	color: #00004C;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3, h4 {
	font-size: 120%;
}

h5, h6 {
	font-size: 100%;
}

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}



img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    text-align: center;
} 

code{
    padding-bottom: 30px;
}



blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}


a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: green; }
a:active { color: red; }



